

<h2> <%= @user.username %>'s profile </h2>
Wallet Amount: <%= @user.wallet_amount %> <br>

<%= button_to "My Activities", user_activities_path, method: :get %> 



<%= button_to "Logout", logout_path, method: :delete %>
