<header>
  <h1>Select an activity</h1>
</header>
<h3><%if flash[:notice]%>
<%=flash[:notice]%>
<%end%></h3>
<body>


<div class="ui grid">
  <% @activities.each do |activity| %>
  <div class="four wide column">
    <div class="ui card">
  <div class="image">
    <img src="https://images4.alphacoders.com/832/832800.jpg">
  </div>
  <div class="content">
    <a class="header">
      <%= link_to activity.title, activity_path(activity)%></a>
    <div class="meta">
      <span class="date">
        #can add text here
      </span>
    </div>
`     #can add description here
  </div>

    <%= button_to "Book Reservation", new_reservation_path, method: :get %>

</div>
  </div>
  <%end %>
</div>

</body>
