<!DOCTYPE HTML>

<header>

<style>
  h1 {
    font-family: 'Helvetica';
    color: #FFFFFF;
    font-size: 50px;
  }

  h2{
   color:  #FFFFFF
  }
</style>
<h1>SociaNY</h1>
<h2> Main Page </h2>
</header>

<body>
  <br>
  <%= button_to "View Activities", activities_path, class: 'btn', method: :get %>
 <br>
  <%= button_to "My Profile", user_path(@user), class: 'btn', method: :get %>
  <br>
  <%= button_to "Logout", logout_path, class: 'btn', method: :delete %>
</div>
</body>
