<center>

<style>
  h1 {
    font-family: 'Helvetica';
    color: #000000;
    font-size: 50px;
  }
</style>
<br>
<h1><font color=#000000>Welcome To SociaNY</h1>

<div id="locator">
</div>

<div id="locator2">
</div>
</center>

Login
<%= button_to "Login", login_path, method: :get %>
<br>
Not a SociaNY Member?
<%= button_to "Sign-up", new_user_path, method: :get %>
